/* ---------------- */
/* Setup */

html { background: url(../images/top-red-bar.png) center top no-repeat #fff; font-family: 'Source Sans Pro', sans-serif; -webkit-text-size-adjust: 100%; }

div, a, span { -webkit-tap-highlight-color: rgba(0,0,0,0); }

a { color: #ff3300; }
a:hover { text-decoration: none; }

.left { float: left; }
.right { float: right; }
.clear { clear: both; overflow: hidden; line-height: 1px; font-size: 1px; }

@font-face {
    font-family: 'dincond-boldbold';
    src: url('fonts/ff_din_condensed_bold-webfont.eot');
    src: url('fonts/ff_din_condensed_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ff_din_condensed_bold-webfont.woff') format('woff'),
         url('fonts/ff_din_condensed_bold-webfont.ttf') format('truetype'),
         url('fonts/ff_din_condensed_bold-webfont.svg#dincond-boldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dincond-regularregular';
    src: url('fonts/ff_din_condensed_regular-webfont.eot');
    src: url('fonts/ff_din_condensed_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ff_din_condensed_regular-webfont.woff') format('woff'),
         url('fonts/ff_din_condensed_regular-webfont.ttf') format('truetype'),
         url('fonts/ff_din_condensed_regular-webfont.svg#dincond-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 { color: #414042; /*color: #e82c2e;*/ font-family: 'dincond-boldbold'; font-size: 2.6em; letter-spacing: -0.05em; /*text-transform: uppercase;*/ }
h2 { color: #414042; font-family: 'dincond-regularregular'; font-size: 1.85em; letter-spacing: -0.05em; }
h2 span { font-family: 'dincond-boldbold'; }

p { color: #414042; font-size: 0.9em; line-height: 1.5em; }

/* ---------------- */
/* Main Layout */

header { padding: 0 10px; }
footer { padding: 0 10px; }

header > div,
article > div,
footer > div { position: relative; max-width: 1160px; min-height: 30px; margin: 0 auto; padding: 0 10px; }

header > div { z-index: 10; height: 56px; padding: 30px 0 10px; border-bottom: 1px solid #e8e8e8; }
footer > div { padding: 20px 0px; overflow: hidden; border-top: 1px solid #e8e8e8; }

#main { padding: 20px 0; }
#wrapper { overflow: hidden; }

#splash { background: rgba(140,0,0,0.3); }
#links { background: rgba(0,190,0,0.3); }
#content { background: rgba(0,0,80,0.3); }
#other { background: rgba(20,50,190,0.3); }

/* content page */

#splash { float: none; width: 100%; }
#content { float: left; }
#other { float: right; }
#links { float: right; }

.col-3 #content { width: 48%; }
.col-3 #other { width: 26%; }
.col-3 #links { width: 26%; }

.col-2 #content { width: 74%; }
.col-2 #links { width: 26%; }

#splash img { max-width: 100%; height: auto; display: block; }

/* product page */

/* contact page */

.form li div { display: none; }

/* map */

#map { width: 100%; height: 350px; }

/* cookie set */

#industry-select-container,
#fade { position: fixed; width: 100%; height: 100%; left: 0; top: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#industry-select-container { z-index: 20; padding: 60px 20px 0 20px; }
#fade { z-index: 19; background: #000; opacity: 0.7 }

#industry-select-container p { color: #fff; }
#industry-select-container .close-cookie-overlay { position: absolute; display: block; width: 40px; height: 40px; top: 10px; right: 10px; background: #000; color: #fff; text-align: center; line-height: 40px; text-decoration: none; }
#industry-select-container .close-cookie-overlay:hover { opacity: 0.7; }

/* ---------------- */
/* Header */

#logo { float: left; display: block; width: 150px; height: 44px; background: url(../images/imagemap.png) 0 0 no-repeat; text-indent: -9999px; cursor: pointer; -webkit-transition: .2s all ease; -moz-transition: .2s all ease; -o-transition: .2s all ease; -ms-transition: .2s all ease; transition: .2s all ease; }
#logo:hover { opacity: 0.6; -webkit-transition: .2s all ease; -moz-transition: .2s all ease; -o-transition: .2s all ease; -ms-transition: .2s all ease; transition: .2s all ease; }

#nav { position: absolute; right: -10px; padding-top: 5px; }
#nav > li { float: left; position: relative; margin-right: 10px; }
#nav > li > a { display: inline-block; padding: 6px 10px; color: #989f98; background: #f7f7f7; font-size: 0.95em; text-decoration: none; -webkit-transition: .2s all ease; -moz-transition: .2s all ease; -o-transition: .2s all ease; -ms-transition: .2s all ease; transition: .2s all ease; border-radius: 4px; }
#nav > li.active > a, 
#nav > li.active:hover > a,
#nav > li:hover > a { background: #454545; color: #e8e8e8; -webkit-transition: .2s all ease; -moz-transition: .2s all ease; -o-transition: .2s all ease; -ms-transition: .2s all ease; transition: .2s all ease; border-radius: 4px 4px 0 0; padding-bottom: 16px; }
#nav > li#nav-home.active > a,
#nav > li#nav-home:hover > a { border-radius: 4px; padding-bottom: 6px; }
#nav > li.active > a { border-radius: 4px; padding-bottom: 6px; }
#nav > li > div { position: absolute; right: 0; display: table-row; overflow: hidden; width: 180px; height: 0; border-radius: 4px 0 4px 4px; }
#nav > li:hover > div,
#nav > li > div:hover { height: auto; background: #454545; -webkit-transition: .2s all ease; -moz-transition: .2s all ease; -o-transition: .2s all ease; -ms-transition: .2s all ease; transition: .2s all ease; }

#nav ul { padding-bottom: 10px; }
#nav ul a { display: inline-block; padding: 10px 10px 0; color: #e8e8e8; font-size: 0.8em; }
#nav ul a:hover { text-decoration: none; }

/* touch version */

.touch #header-overlay { position: relative; width: 100%; height: 44px; padding: 10px 0; overflow: hidden; z-index: 20; }
	
.touch #nav { position: relative; right: 0; overflow: hidden; max-height: 0; clear: both; border-radius: 4px; padding: 5px 0; }
.touch #nav.hidden { max-height: 0; -webkit-transition: .5s all ease; -moz-transition: .5s all ease; -o-transition: .5s all ease; -ms-transition: .5s all ease; transition: .5s all ease; }
.touch #nav.visible { max-height: 999px; -webkit-transition: 1s all ease; -moz-transition: 1s all ease; -o-transition: 1s all ease; -ms-transition: 1s all ease; transition: .5s all ease; background: #454545; }
	
.touch #nav > li { margin-right: 0; }
.touch #nav > li > div { display: block; position: relative; width: 100%; height: auto; padding-top: 0; margin-top: -3px; padding-left: 6px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 0; }
.touch #nav > li > a { background: transparent; -moz-transition: none; -webkit-transition: none; -o-transition: color 0 ease-in; transition: none; padding: 6px 16px 0px; color: #989f98; text-decoration: underline; margin-bottom: 5px; }
.touch #nav > li > a:hover { color: #e8e8e8; -moz-transition: none; -webkit-transition: none; -o-transition: color 0 ease-in; transition: none; text-decoration: none; }
.touch #nav > li:hover > a { background: transparent; color: #989f98; }
.touch #nav > li:hover > div,
.touch #nav > li > div:hover { background: transparent; color: auto; -moz-transition: none; -webkit-transition: none; -o-transition: color 0 ease-in; transition: none; }
.touch #nav ul { padding-bottom: 4px; padding-right: 10px; }
.touch #nav ul a { padding-top: 0px; padding-bottom: 3px; }
	
.touch #mobile-menu { float: right; display: block; width: 31px; height: 26px; background: url(../images/imagemap.png) -468px -43px no-repeat; -webkit-background-size: 960px 600px; margin-top: 2px; opacity: 0.6; padding: 7px 0 7px 12px; }
.touch #mobile-menu.close { opacity: 1; }

/* ---------------- */
/* Footer */

#back-to-top { text-decoration: underline; }
#back-to-top:hover { text-decoration: none; }

#footer-text { float: left; width: 30%; }

footer p { margin-top: 10px; }

footer ol { overflow: hidden; float: right; width: 65%; padding-top: 10px; }
footer ol > li { float: left; width: 16%; }
footer ol div a { font-size: 0.8em; }

/* ---------------- */
/* Responsive */

/* high res */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.touch #mobile-menu,
	#logo { -webkit-background-size: 960px 600px; }

	#logo { background-position: -480px 0; }
}

@media only screen and (min-width: 1176px) {

	/* maps */

	#map { height: 350px; }
	
	/* Header */

	/* Footer */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

	/* maps */
	
	#map { height: 300px; }

	/* Main Layout */
		
	header > div { padding-top: 10px; }

	.col-3 #content,
	.col-2 #content { width: 70%; }
	#narrow { float: left; width: 30%; }
	.col-3 #narrow #other,
	.col-3 #narrow #links { float: none; width: 100%; }
	.col-2 #links { width: 30%; }

	.touch #nav { position: absolute; right: 0; width: 50%; margin-left: 50%; }
	.touch #nav > li { float: left; width: 33%; }
	.touch #nav ul { margin-bottom: 0; padding-bottom: 0; }

	/* Footer */

	#footer-text { float: none; width: 100%; }

	footer ol { float: none; width: 100%; }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

	/* Main Layout */
	
	.col-3 #content,
	.col-2 #content { width: 65%; }
	#narrow { float: left; width: 35%; }
	.col-2 #links { width: 35%; }

	.touch #nav > li { float: left; width: 50%; }
}

@media only screen and (max-width: 767px) {

	h1 { font-size: 2em; }
	h2 { font-size: 1.25em; }

	/* Main Layout */
	
	header > div { padding: 10px 0; }
	footer > div { padding: 0 0 10px; }

	#main { padding: 10px 0; }

	.touch #nav > li { float: left; width: 50%; }
	
	#links,
	#content,
	#other { float: none; width: 100%; }
	
	.col-2 #links,
	.col-2 #content,
	.col-3 #links,
	.col-3 #content,
	.col-3 #other { float: none; width: 100%; }
	
	/* maps */
	
	#map { height: 200px; }
	
	/* Header */
	
	#main { position: relative; clear: both; }
	
	/* Footer */
	#footer-text { float: none; width: 100%; }
	footer ol { display: none; }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

	/* Header */
	
	.touch #nav > li { float: left; width: 33%; }
}

