/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* tweaking the grid */
/* breakpoints */
/* fonts */
/* colours */
html {
  background: url(../images/top-red-bar.png) center top no-repeat #fff;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div,
a,
span {
  -webkit-tap-highlight-color: transparent;
}

a {
  color: #e9292f;
  text-decoration: none;
  border-bottom: 1px solid rgba(233, 41, 47, 0.25);
  -webkit-transition: 150ms all;
  -moz-transition: 150ms all;
  transition: 150ms all;
}
a:hover {
  border-bottom: 1px solid rgba(233, 41, 47, 0.8);
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
  overflow: hidden;
  line-height: 1px;
  font-size: 1px;
}

img {
  max-width: 100%;
}

/* typography */
@font-face {
  font-family: 'dincond-boldbold';
  src: url("fonts/ff_din_condensed_bold-webfont.eot");
  src: url("fonts/ff_din_condensed_bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ff_din_condensed_bold-webfont.woff") format("woff"), url("fonts/ff_din_condensed_bold-webfont.ttf") format("truetype"), url("fonts/ff_din_condensed_bold-webfont.svg#dincond-boldbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dincond-regularregular';
  src: url("fonts/ff_din_condensed_regular-webfont.eot");
  src: url("fonts/ff_din_condensed_regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ff_din_condensed_regular-webfont.woff") format("woff"), url("fonts/ff_din_condensed_regular-webfont.ttf") format("truetype"), url("fonts/ff_din_condensed_regular-webfont.svg#dincond-regularregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: 'dincond-boldbold';
  margin-top: 0;
  font-size: 4.2em;
}

h2 {
  font-family: 'dincond-regularregular';
  margin-top: 0;
  font-size: 2.4em;
  color: #414042;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

h3 {
  font-family: 'dincond-regularregular';
  margin-top: 0;
  font-size: 1.7em;
  color: #414042;
  margin-bottom: 15px;
}

p {
  color: #414042;
  margin-top: 0;
  line-height: 1.5em;
}

p.medium {
  font-size: 1.1em;
}

p.large {
  font-size: 1.3em;
}

.btn-text {
  font-weight: bold;
  letter-spacing: -0.05em;
}

.btn-chevron {
  background: url(../images/chevron.svg) no-repeat;
  font-weight: bold;
  background-size: 20px 20px;
  padding-left: 25px;
  border-bottom: none;
  letter-spacing: -0.05em;
}
.btn-chevron span {
  border-bottom: 1px solid rgba(233, 41, 47, 0.25);
}
.btn-chevron:hover {
  border-bottom: none;
}
.btn-chevron:hover span {
  border-bottom: 1px solid rgba(233, 41, 47, 0.8);
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/* tweaking the grid */
/* breakpoints */
/* fonts */
/* colours */
.layout-top {
  padding-top: 30px;
}

.layout-content {
  max-width: 72.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
.layout-content::after {
  clear: both;
  content: "";
  display: table;
}

.layout-footer {
  clear: both;
  background: url(../images/special-bg-light-grey.jpg) center top no-repeat;
  padding: 45px 0;
}

/* tweaking the grid */
/* breakpoints */
/* fonts */
/* colours */
.logo {
  display: block;
  float: left;
  width: 161px;
  height: 46px;
  background: url(../images/logo.svg);
  background-size: 161px 46px;
  text-indent: -9999px;
  border: none;
}
.logo:hover {
  border: none;
  opacity: 0.5;
}
@media screen and (max-width: 31em) {
  .logo {
    width: 120px;
    height: 34px;
    background-size: 120px 34px;
  }
}

@media screen and (max-width: 31em) {
  .header-overlay {
    display: block;
    overflow: hidden;
  }
}

.nav-top,
.sub-nav > ul {
  list-style: none;
  padding: 0;
}

.nav-top {
  float: right;
  margin-top: 12px;
}
@media screen and (max-width: 31em) {
  .nav-top {
    display: none;
    position: absolute;
    top: 70px;
    float: none;
    margin-top: 0;
    padding: 0 15px 15px;
    width: 100%;
  }
}
.nav-top > li {
  position: relative;
  float: left;
  margin-left: 25px;
}
@media screen and (max-width: 31em) {
  .nav-top > li {
    float: none;
    margin-left: 0;
  }
}
.nav-top > li.active .has-sub-nav {
  color: #919092;
}
.nav-top > li.active .sub-nav {
  display: block;
}
@media screen and (max-width: 31em) {
  .nav-top > li.active .sub-nav {
    display: block;
    max-height: 999px;
    -webkit-transition: 200ms all;
    -moz-transition: 200ms all;
    transition: 200ms all;
  }
}
.nav-top .has-sub-nav {
  color: #313032;
  font-size: 1.1em;
  text-transform: lowercase;
  border-bottom: none;
}
.nav-top .has-sub-nav:hover {
  color: #919092;
  border-bottom: none;
}
.nav-top.active {
  display: block;
}

.sub-nav {
  display: none;
  position: absolute;
  right: 0;
  top: 30px;
  background: #eee;
  width: 200px;
  padding: 5px 18px 15px;
  border: 1px solid #ddd;
}
@media screen and (max-width: 31em) {
  .sub-nav {
    position: relative;
    top: auto;
    max-height: 0;
    -webkit-transition: 200ms all;
    -moz-transition: 200ms all;
    transition: 200ms all;
  }
}
.sub-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sub-nav ul > li {
  padding-top: 8px;
  text-align: right;
}

.mobile-menu {
  display: none;
  float: right;
  margin: 8px 0 0 0;
  width: 30px;
  height: 28px;
  cursor: pointer;
  -webkit-transition: 200ms all;
  -moz-transition: 200ms all;
  transition: 200ms all;
}
@media screen and (max-width: 31em) {
  .mobile-menu {
    display: block;
  }
}
.mobile-menu.active .bar {
  background: #919092;
  position: relative;
}
.mobile-menu.active .bar:nth-child(1) {
  top: 7px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mobile-menu.active .bar:nth-child(2) {
  top: -1px;
  opacity: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mobile-menu.active .bar:nth-child(3) {
  bottom: 7px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.mobile-menu .bar {
  display: block;
  width: 20px;
  height: 3px;
  background: #414042;
  margin: 0 auto 4px;
  -webkit-transition: 100ms all;
  -moz-transition: 100ms all;
  transition: 100ms all;
  border-radius: 2px;
}

/*.nav-top { 
	list-style: none; margin: 0; padding: 10px 15px 0 0; overflow: visible; float: right; 
	
	@include media($sm) { display: none; position: absolute; top: 70px; float: none; padding: 0 15px 15px; width: 100%; }

	> li { 
		position: relative; float: left; margin-left: 15px; 

		@include media($sm) { float: none; margin-left: 0; background: rgba(100,0,0,0.3); }

		&.active {
			.has-sub-nav { @extend a:hover; }
			.sub-nav { 
				display: block;
				
				@include media($sm) { display: block; max-height: 999px; @include transition(200ms all); }
			}
		}

		.has-sub-nav {
			@include media($sm) { display: block; }
		}
	}

	&.active { display: block; }
}

.sub-nav {  
	display: none; position: absolute; right: 0; top: 30px; background: #f2f2f2; min-width: 100px; padding: 15px;

	@include media($sm) {
		position: relative; top: auto; max-height: 0; @include transition(200ms all);
	}

	ul { list-style: none; margin: 0; padding: 0; }
}*/
/* tweaking the grid */
/* breakpoints */
/* fonts */
/* colours */
.footer-logo {
  display: block;
  float: left;
  width: 33px;
  height: 41px;
  background-size: 33px 41px;
  background: url(../images/logo-small-grey.svg) no-repeat;
  text-indent: -9999px;
  margin-right: 40px;
}

.nav-footer {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-footer > li {
  float: left;
  display: block;
  margin-right: 1.83773%;
  width: 10.89199%;
}
.nav-footer > li:last-child {
  margin-right: 0;
}
.nav-footer .section-title {
  text-transform: lowercase;
  color: #919092;
  font-size: 1.1em;
}
.nav-footer ul {
  list-style: none;
  padding: 0;
  margin: 15px 0 25px;
}
.nav-footer ul li {
  margin-bottom: 2px;
}
.nav-footer ul a {
  font-size: 0.85em;
}

.back-to-top {
  float: right;
  cursor: pointer;
  font-size: 0.85em;
}

.footer-copyright {
  clear: both;
  color: #919092;
  font-size: 0.85em;
}
.footer-copyright strong {
  display: inline-block;
  padding-left: 15px;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/* tweaking the grid */
/* breakpoints */
/* fonts */
/* colours */
.header {
  overflow: hidden;
}
.header > h2 {
  float: left;
}
.header > .btn-text {
  float: right;
}

.splash-bottom {
  background: url(../images/special-bg-red.jpg) center top;
  margin-bottom: 20px;
  padding: 25px 0;
}

.splash-inner {
  max-width: 72.5em;
  margin-left: auto;
  margin-right: auto;
}
.splash-inner::after {
  clear: both;
  content: "";
  display: table;
}
.splash-inner a {
  position: relative;
  display: block;
  color: #fff;
  padding: 0 15px;
}
.splash-inner a .splash-title {
  display: block;
  font-family: 'dincond-boldbold';
  font-size: 4.2em;
  letter-spacing: -0.05em;
  margin-bottom: -5px;
}
.splash-inner a .splash-subtitle {
  opacity: 0.5;
  font-family: 'dincond-regularregular';
  font-size: 2.4em;
  letter-spacing: -0.05em;
}
.splash-inner a .splash-cta {
  position: absolute;
  right: 20px;
  bottom: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  font-weight: bold;
  letter-spacing: -0.05em;
}
.splash-inner a .splash-cta:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.home-intro {
  max-width: 72.5em;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 20px;
  padding: 0 20px;
}
.home-intro::after {
  clear: both;
  content: "";
  display: table;
}
.home-intro > p {
  float: left;
  display: block;
  margin-right: 1.83773%;
  width: 49.08114%;
}
.home-intro > p:last-child {
  margin-right: 0;
}

.home-text-sections {
  max-width: 72.5em;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 20px;
  padding: 0 20px;
}
.home-text-sections::after {
  clear: both;
  content: "";
  display: table;
}
.home-text-sections > .home-text-section {
  max-width: 72.5em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
.home-text-sections > .home-text-section::after {
  clear: both;
  content: "";
  display: table;
}
.home-text-sections > .home-text-section h3 {
  float: left;
  display: block;
  margin-right: 1.83773%;
  width: 19.37847%;
  text-transform: uppercase;
  margin-bottom: 0;
}
.home-text-sections > .home-text-section h3:last-child {
  margin-right: 0;
}
.home-text-sections > .home-text-section p {
  float: left;
  display: block;
  margin-right: 1.83773%;
  width: 78.78381%;
  margin-bottom: 0;
  padding-top: 6px;
}
.home-text-sections > .home-text-section p:last-child {
  margin-right: 0;
}

.home-products {
  max-width: 72.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 0 20px;
}
.home-products::after {
  clear: both;
  content: "";
  display: table;
}
.home-products > .home-product {
  float: left;
  display: block;
  margin-right: 1.83773%;
  width: 32.10818%;
}
.home-products > .home-product:last-child {
  margin-right: 0;
}
.home-products > .home-product img {
  margin-bottom: 10px;
}

.layout-twitter {
  background: url(../images/special-bg-blue.jpg) center top;
  padding: 25px 0;
}

.latest-tweets {
  max-width: 72.5em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0 20px;
}
.latest-tweets::after {
  clear: both;
  content: "";
  display: table;
}
.latest-tweets h2 {
  color: #fff;
  margin-bottom: 17px;
}
.latest-tweets > p {
  position: absolute;
  right: 20px;
  bottom: 0;
  overflow: hidden;
  margin-bottom: 0;
}
.latest-tweets .twitter-follow {
  font-weight: bold;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  letter-spacing: -0.05em;
}
.latest-tweets .twitter-follow:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.twitter .tweet_list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.twitter .tweet_list li {
  position: relative;
  color: #fff;
  font-size: 1.1em;
}
.twitter .tweet_list .tweet_text {
  display: block;
  margin-bottom: 10px;
}
.twitter .tweet_list .tweet_time {
  opacity: 0.6;
}
.twitter .tweet_list a {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.twitter .tweet_list a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.home-applications {
  max-width: 72.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 0;
}
.home-applications::after {
  clear: both;
  content: "";
  display: table;
}
.home-applications > .home-application {
  float: left;
  display: block;
  margin-right: 1.83773%;
  width: 23.62171%;
}
.home-applications > .home-application:last-child {
  margin-right: 0;
}
.home-applications > .home-application img {
  margin-bottom: 10px;
}

/*# sourceMappingURL=all.css.map */
