---
title: Supercontinuum
bodyClass: sc-page
---

<div class="layout-main">

    <section class="layout-splash">
        <div class="splash-inner">
            <img src="images/splash/sc.jpg" class="splash-image" />
        </div>
    </section>

    <div class="layout-content">
        <h1>WhiteLase&trade; Supercontinuum Fiber Lasers</h1>
        <h2 class="alt">The full spectrum of white-light lasers</h2>
        <p class="large">Supercontinuum fiber lasers, or “white-light” lasers, are unique light sources emitting an ultra-broad optical spectrum, typically from ultraviolet to beyond two microns, with laser-like beam quality over the full wavelength range.  All Fianium supercontinuum lasers provide picosecond pulses at Megahertz repetition rates so can be used equally effectively as a CW source in steady state applications or a pulsed source for lifetime measurements.</p>
        <p>Fianium are the world leaders in supercontinuum laser sources with over 10 years’ experience at the cutting edge of ultrafast fiber lasers, microstructured optical fiber and supercontinuum generation technology. With over 1600 systems now supplied, Fianium supercontinuum lasers are the first choice for leading companies, universities and research institutes around the world. All WhiteLase supercontinuum lasers are turn-key systems with no user alignment or maintenance required. With Fianium’s proprietary microstructured fiber technology, the spectrum remains constant over many thousands of hours operation, even at full power, so you can be confident of repeatable performance even in high duty cycle applications. <a href="#">Read more about WhiteLase spectral stability and reliability here</a>.</p>
    </div>
    graphs here
    <div class="layout-content">
        <p>The range of WhiteLase tunable filter accessories effectively convert any Fianium supercontinuum laser into a widely tunable laser source. A single supercontinuum laser, in combination with a tunable filter, can replace an unlimited number of single frequency lasers in a wide range of applications. All filter options are available either free-space or fiber delivered and maintain the inherent high beam quality of the supercontinuum output. Please see our <a href="#">tunable filters</a> section for more information.</p>
        <h2 class="alt">WhiteLase SC series</h2>
    </div>
    <div class="layout-content">
        <div class="layout-content-inner">
            <p>The WhiteLase SC series systems are the ultimate high power supercontinuum fiber lasers offering state-of-the-art performance and features in a fully modular and upgradable design.  With a range of wavelength, power and repetition rate options there is a model for almost any application. There is no need to compromise on spectrum or power because the WhiteLase SC series offers both the shortest cut-in wavelength, the most visible power and the highest total power available.</p>
            <p>Standard features:</p>
            <ul class="text">
                <li>High power output – up to <strong>20W</strong> total power</li>
                <li>Highest visible power – up to <strong>4.5W</strong> in the “extended” visible range</li>
                <li>Fixed or variable repetition rate – from <strong>100kHz</strong> with on-the-fly adjustment</li>
                <li>Low jitter <strong>NIM</strong> trigger with adjustable delay – ideal for TCSPC and FLIM</li>
            </ul>
            <p>All systems include integrated touch-screen control, allowing one-touch access to all laser settings, pre-sets, diagnostics and live system status in addition to optional computer control.</p>
        </div>
        <div class="layout-content-image">
            <img src="images/sc/sc.jpg" />
        </div>
    </div>
    <div class="layout-content">
        <p>There are four WhiteLase SC product families optimised for different wavelength ranges:</p>
    </div>
    <section class="product-spec-cards">
        <div class="product-spec-cards-inner">
            <div class="product-spec-card">
                <h3>WhiteLase SC-UV</h3>
                <p>The WhiteLase UV systems offer the shortest possible ultraviolet cut-in wavelength available for multi-Watt supercontinuum lasers.</p>
                <ul class="product-spec-points">
                    <li>Wavelength range from <strong>&lt;390nm</strong> to &gt;2400nm</li>
                    <li><strong>3W</strong> total average power</li>
                </ul>
            </div>
            <div class="product-spec-card">
                <h3>WhiteLase SC-400</h3>
                <p>The world’s most popular range of supercontinuum fiber lasers provides an unrivalled combination of short cut in wavelength and high power across the full spectrum. <!--The latest WL-SC-400-20 system, with over 20W average power, is the winner of the 2015 Prism Award for innovation.--></p>
                <ul class="product-spec-points">
                    <li>Wavelength range from <strong>&lt;400nm</strong> to &gt;2400nm</li>
                    <li>2W to <strong>20W</strong> total average power</li>
                </ul>
            </div>
            <div class="product-spec-card">
                <h3>WhiteLase SC-480</h3>
                <p>The WhiteLase SC-480 range is tailored for maximum performance in the near infrared region of the spectrum.</p>
                <ul class="product-spec-points">
                    <li>Wavelength range from <strong>&lt;480nm</strong> to &gt;2400nm</li>
                    <li><strong>10W</strong> or <strong>20W</strong> total average power</li>
                </ul>
            </div>
            <div class="product-spec-card">
                <h3>WhiteLase SC-450-PP-HE</h3>
                <p>Optimised for high pulse energy at 1MHz, the WhiteLase SC-450-PP-HE is perfect for applications where spectral energy density is more important than average power. <!--For example in STED microscopy, a single SC-450-PP-HE system can be utilised to provide simultaneous high energy depletion beams as well as excitation.--></p>
                <ul class="product-spec-points">
                    <li>Wavelength range from &lt;550nm to &gt;1750nm</li>
                    <li>&gt;1nJ/nm from 600-800nm – optimised for maximum pulse energy</li>
                </ul>
            </div>
        </div>
    </section>
    pp-h3 plot
    <div class="layout-content">
        <h2 class="alt">WhiteLase micro Series</h2>
        <p>The WhiteLase micro is our most compact supercontinuum fiber laser and provides excellent value for money. Sharing the same mode-locked technology as the high power lasers, the WhiteLase micro is ideal as a general purpose laboratory light source for applications including spectroscopy, imaging and illumination.</p>
        <h2 class="alt"><span class="highlight">NEW:</span> WhiteLase OEM</h2>
    </div>
    <div class="layout-content">
        <div class="layout-content-inner">
            <p>The new WhiteLase OEM provides Fianium’s industry standard supercontinuum fiber laser technology in a ruggedized package with a fraction of the space claim of the standard 19” rackmount systems. Designed for demanding industrial and OEM applications, the system is ready for 24/7 operation. The high brightness, long lifetime and low cost of ownership make the WhiteLase OEM an ideal alternative to lasers, lamps or LEDs in high specification imaging and illumination applications.</p>
            <ul class="text">
                <li>Output power up to <strong>10W</strong></li>
                <li>Visible or IR enhanced spectrum</li>
            </ul>
        </div>
        <div class="layout-content-image">
            <img src="images/sc/sc-oem.jpg" />
        </div>
    </div>
    <div class="layout-content">
        <h2 class="alt">WhiteLase model comparison table</h2>
    </div>
</div>
